@import url("font.css");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Source Code Pro", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #272A2B;
}

.card {
    width: 342px;
    background-color: #FFFFFF;
    border-radius: 12px;
}

.card-heading {
    font-weight: 500;
    font-size: 18px;
    line-height: 22.63px;
    color: #000000;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 27px;
}

.card-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17.6px;
    color: #666666;
    margin-top: 6px;
    padding-left: 24px;
}

.card-pic {
    width: 100%;
    overflow: hidden;
    margin-top: 25px;
    display: flex;
    align-items: center;
}
.card-circle {
   display: flex;
   flex-flow: row; 
   gap: 24px;
   padding: 24px;
}

.circle-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #DEDEDE;
}

.circle-text {
    font-weight: 40;
    font-size: 14px;
    line-height: 17.6px;
    color: #666666;
}

.circle-row {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #DEDEDE;
}

.circle-text {
    font-weight: 40;
    font-size: 14px;
    line-height: 17.6px;
    color: #666666;
}


.circle-row {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #DEDEDE;
}

.circle-text {
    font-weight: 40;
    font-size: 14px;
    line-height: 17.6px;
    color: #666666;
}