*,body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    font-family: "Lato", sans-serif;
    background-image: url("back.avif");
    background-size: cover;
}
header {
    background-color: rgb(190, 135, 34);
    padding: 20px;   
}
header img {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card {
    background-color:yellow;
    margin: 20px;
    padding: 20px;
    border: 2px solid;
}
.card img {
    width: 100px;
    mix-blend-mode: all;
}
.card.two {
    background-color: rgb(95, 18, 18);
    color: burlywood;
}
.card.three {
    background-color: rgb(156, 162, 120);
    color: bisque;
}
footer {
    background-color: gray;
    color: white;
    padding: 20px;
    text-align: center;
}